.product{
    background: rgb(3, 3, 54);
    border-radius: 25px;
    user-select: none;
    animation: product 1s both;
    animation-delay: .5s
}
@keyframes product{
    from{
        transform: scale(0)
    }
    to{
        transform: scale(1) 
    }
}
.product-name{
    color: white !important
}
.productImg{
    width: 100%;
    object-fit: contain
}
.icon{
    color: white;
    cursor:pointer
}
.icon:hover{
    transition: 0.3s;
    transform: scale(1.3);
    color:grey
}
